.articlesdiv1 {
    background-image: url("../img/Rectangle 13.png");
    background-color: #010A20;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top:200px;
    padding-bottom: 100px;
    .container{
        display: flex;
    }
}
.articlesimg{
width: 630.34px;
height: 460px;
top: 1287px;
left: 341.64px;
border-radius: 10px;
margin: auto;
padding: 10px;
}
.articlesh{
    font-size: 42px; 
    line-height: 50px;
    color: #FFFFFF;
    font-weight: 700;
}
.articlesp{
    font-size: 18px; 
    line-height: 28px;
    color:  #E0E0E0;
    letter-spacing: 1%;
    font-weight: 400;
}
.articlesdiv2{
    background-image: url("../img/Rectangle 11.png");
    background-color: #010A20;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 200px;
    .container{
        display: flex;
    }
}
.articlesimg2{
    width: 479.5px;
    height: 299.03px;
    top: 2007px;
    left: 385.6px;
    border-radius: 32px;
    margin: auto;
    padding: 10px;
}
.articles{
    background-color: #010A20;
    padding: 0;
}