.explore-our-secrets {
    background-image: url(../img/secrets_bacg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
    height: 2207px;
}

.secrets-title {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 45px;
}

.secrets-list {
    display: flex;
    justify-content: space-around;
}

.numbers-div {
    margin-top: 933px;
    background-image: linear-gradient(to right, rgba(3, 5, 34, 0.833), rgba(3, 3, 35, 0.841));
    background-repeat: no-repeat;
    background-size: cover;
    width: 2025px;
    height: 734px;
    padding: 200px 0;
}


.numbers-title {
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: white;
    font-weight: 700;
    margin-bottom: 37px;
}

.number {
    color: #DD2242;
    width: 203.4px;
    height: 49.16px;
    font-size: 42.14px;
    font-weight: 700;
    line-height: 49.16px;
    letter-spacing: 0.38626033067703247px;
    text-align: center;

}

.numbers-p {
    width: 340.61px;
    height: 70.23px;
}

.numbers-p1 {
    display: flex;
    justify-content: center;
    margin-bottom: 39px;
}

.numbers-p,
.numbers-p1 {
    color: #E0E0E0;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.5px;
}

.numbers-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
}