.explore-our-secrets {
    background-image: url(../img/secrets_bacg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
}

.secrets-title{
    display: flex;
    justify-content: center;
}

.secrets-list{
    display: flex;
    justify-content: space-around;
}

