<section class="articles">
    <div class="container">
        <div class="articlesdiv1">
            <img class="articlesimg" src="img/Rectangle 9.png" alt="#">
            <div class="articlesimg2">
                <h3 class="articlesh">The walkways of Indonesia spellbind</h3>
            <p class="articlesp">Lorem ipsum dolor sit amet, consectetur adip iscing elit. Fusce commodo magna et libero
                mollis rhoncus. </p>
            <button type="button" class="arbutton">Learn More</button>
            </div>
        </div>
        <div class="articlesdiv2">
            <div class="articlesimg2">
                <h3 class="articlesh">Perfect beaches exude relaxation and fun</h3>
            <p class="articlesp">Lorem ipsum dolor sit amet, consectetur adip iscing elit. Fusce commodo magna et libero
                mollis rhoncus. </p>
            <button type="button" class="arbutton">Learn More</button>
            </div>
            <img class="articlesimg" src="img/Rectangle 10.png" alt="#">
        </div>
    </div>
</section>