<footer id="footer">
    <div class="backround">
        <div class="container-footer">
            <div class="footer_box">
                <img src="img/footer-foto.png" alt="">
                <ul class="footer_list">
                    <li class="footer_item">About</li>
                    <li class="footer_item">Pricing</li>
                    <li class="footer_item">Company</li>
                    <li class="footer_item">Blog</li>
                </ul>
                <div class="footer_box-socialmedia">
                    <img class="footer_item-foto" src="img/facebook.png" alt="">
                    <img class="footer_item-foto" src="img/linkedin.png" alt="">
                    <img class="footer_item-foto" src="img/google.png" alt="">
                </div>
                <p class="footer_p">Copyright © 2019</p>
            </div>
        </div>
    </div>
</footer>