<header id="header">
  <div class="header_background">
    <div class="header-cont">
      <nav class="header_nav">
        <img class="header__logo" src="img/logo.png" alt="#">
        <ul class="header__menu">
          <li class="header__item">destinations</li>
          <li class="header__item">experiences</li>
          <li class="header__item">about</li>
          <li class="header__item">gallery</li>
        </ul>
        <div class="header_other">
          <img class="header-search" src="ximg/search.png" alt="">
          <img class="header_burger" src="img/menu.png" alt="">
        </div>
      </nav>
    </div>
    <div class="container-1">
      <div class="header_title">
        <h1>explore indonesia</h1>
        <div class="header_box">
          <button class="header_button">Start travelling</button>
        </div>
      </div>
      <div class="header_bottom">
        <ul class="header_bottom_list">
          <li class="header_bottom_item">
            <p class="header_bottom_item-number">01</p>
            <h3 class="header_bottom_item-title">Title here</h3>
            <p class="header_bottom_item-text">Lorem ipsum dolor sit amet et amet ist ame.</p>
          </li>
          <li class="header_bottom_item">
            <p class="header_bottom_item-number">02</p>
            <h3 class="header_bottom_item-title">Title here</h3>
            <p class="header_bottom_item-text">Lorem ipsum dolor sit amet et amet ist ame.</p>
          </li>
          <li class="header_bottom_item">
            <p class="header_bottom_item-number">03</p>
            <h3 class="header_bottom_item-title">Title here</h3>
            <p class="header_bottom_item-text">Lorem ipsum dolor sit amet et amet ist ame.</p>
          </li>
        </ul>
        <div class="video-section">
            <video class="header_vidio" controls poster="path/to/preview-image.jpg">
              <source src="https://unsplash.com/photos/hODK5BIGBEg" type="video/mp4">
              Your browser does not support the video tag.
            </video>
        </div>
      </div>
    </div>
  </div>
</header>