<header>
  <div class="container">
    <nav class="header_nav">
      <img class="header__logo" src="/src/img/logo.png" alt="#">
      <ul class="header__menu">
        <li class="header__item">destinations</li>
        <li class="header__item">experiences</li>
        <li class="header__item">about</li>
        <li class="header__item">gallery</li>
      </ul>
      <div class="header_other">
        <img src="/src/img/search.png" alt="">
        <button class="header_burger">
          <span></span>
        </button>
      </div>
    </nav>
    <div class="header_title">
      <h1>explore indonesia</h1>
      <div class="header_box">
        <button class="header_button">Start travelling</button>
      </div>
    </div>
  </div>
</header>