<section class="timeline">
<div class="backround-last">
    <div class="container">
    <h2 class="h2-last">Getting there</h2>
    <div class="timeline-item">
        <div class="timeline-number">1</div>
        <div class="timeline-content">
            <h3>Booking your flights</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus mauris in lectus tempus, eget tincidunt lacus varius. Sed euismod orci dictum faucibus malesuada.</p>
        </div>
    </div>
    
    <div class="timeline-item">
        <div class="timeline-number">2</div>
        <div class="timeline-content">
            <h3>Choosing your hotel</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus mauris in lectus tempus, eget tincidunt lacus varius. Sed euismod orci dictum faucibus malesuada.</p>
            <div class="image">
                <img src="https://source.unsplash.com/random/300x200" alt="Travelling there">
                <h4>Travelling there</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
    
    <div class="timeline-item">
        <div class="timeline-number">3</div>
        <div class="timeline-content">
            <h3>Planning your experiences</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus mauris in lectus tempus, eget tincidunt lacus varius.</p>
            <a href="#" class="learn-more">Learn More</a>
        </div>
    </div>
    </div>
</div>
</section>