
<section class="explore-our-secrets"> 
    <div class="container"> 
        <h2 class="secrets-title">Explore Our Secrets</h2> 
        <article class="secrets-list"> 
            <div class="secrets-div"> 
                <img class="secrets-img" src="/img/rectangle1258.png"> 
            </div> 
            <div class="secrets-div"> 
                <img class="secrets-img" src="/img/rectangle1259.png"> 
            </div> 
            <div class="secrets-div"> 
                <img class="secrets-img" src="/img/rectangle1260.png"> 
            </div> 
        </article> 
    </div> 
    <div class="numbers-div"> 
        <div class="numbers-text"> 
        <h2 class="numbers-title">By The Numbers</h2> 
        <p class="numbers-p1"> 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo magna et libero.Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        </p> 
        </div> 
        <article class="numbers-art"> 
            <ul class="numbers-list"> 
                <li class="numbers-item"> 
                    <h3 class="number">100+</h3> 
                    <p class="numbers-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo magna et libero.</p> 
                </li> 
                <li class="numbers-item"> 
                    <h3 class="number">43,000+</h3> 
                    <p class="numbers-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo.</p> 
                </li> 
                <li class="numbers-item">  
                    <h3 class="number">30+</h3> 
                    <p class="numbers-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo magna et libero.</p> 
                </li> 
            </ul> 
        </article> 
    </div> 
 
</section>