<section class="explore-our-secrets">
    <div class="container">
        <h2 class="secrets-title">Explore Our Secrets</h2>
        <article class="secrets-list">
            <div class="secrets-div">
                <img class="secrets-img" src="/src/img/rectangle1258.png">
            </div>
            <div class="secrets-div">
                <img class="secrets-img" src="/src/img/rectangle1259.png">
            </div>
            <div class="secrets-div">
                <img class="secrets-img" src="/src/img/rectangle1260.png">
            </div>
        </article>
    </div>
    <div class="numbers-div">
        <h2 class="numbers-title">
            By The Numbers
        </h2>
    </div>
</section>